/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
  --colorWhite: #ffff;
  --colorBlack: #231f20;
  --colorRed: #d52941;
  --colorOrange: #ff9f1c;
  --colorGreem: #c8ede6;
  --fontSize-sm: 16px;
  --fontFamily: "Poppins", sans-serif;
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-sm);
}

label {
  display: none;
}

a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  color: grey;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(223, 199, 199);
}

/* General Styling for content + footer element */
/* To up */
#up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--colorBlack);

}

.wrapper {
  min-height: calc(100vh - 200px);
}

/* Nav Component */
#img-nav {
  width: 45px;
  border-radius: 50%;
}

#logo {
  width: 80px;
}

.log-out {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

nav {
  font-size: 0.8rem;
}

nav ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: none;
  background-color: #c8ede6;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 3em;
  align-items: center;
}

/* Menu hamburguesa */
.nav-bar {
  background-color: #c8ede6;
  padding: 20px;
  display: block;
  font-size: 1.5em;
  width: 100%;
}

.menu {
  list-style: none;
  background: hsl(169, 51%, 86%, 1);
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 1;
  margin-left: -100%;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-link {
  padding-left: 50px;
  display: block;
  padding: 20px;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}

.mostrar {
  margin-left: 0;
}

.fas {
  cursor: pointer;
}

.nav-item {
  z-index: 2;
  color: white;
}

/* SignIn Component */
div.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

div.container h1 {
  text-align: center;
}

div.container .logo {
  text-align: center;
}

div.container h1 {
  font-size: 2.4rem;
}

div.container h3 {
  font-weight: 400;
  font-size: 1.4rem;
}

div.container span {
  font-size: 0.8rem;
}

div.form {
  width: 75%;
}

.form-sign-in {
  margin-top: 2em;
}

div.container .form-sign-in,
span {
  display: flex;
  justify-content: center;
}

.input-field {
  padding: 15px 15px;
  border: none;
  background: hsl(169, 51%, 86%, 40%);
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
}

.form-container-input-icon {
  position: relative;
}

.img-eye {
  position: absolute;
  right: 15px;
  top: 24px;
  width: 20px;
}

.button {
  background-color: #231f20;
  color: var(--colorWhite);
  padding: 15px 15px;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #231f2084;
  border: none;
}

/* SignUp Component */
.container-btn-close {
  width: 30%;
  margin: auto;
}

/* NewTask Component */
.container-new-task {
  width: 90%;
  margin: auto;
  margin-top: 1.5em;
}

.container-new-task h1,
.container-new-task p {
  text-align: center;
}

.container-new-task p {
  font-size: 0.8rem;
}

.container-new-task p:last-of-type {
  font-weight: 900;
  color: #ff9f1c;
}

.input-field-new-task {
  display: flex;
  justify-content: center;
}

.input-field-new-task textarea,
input,
.edit-description-task {
  width: 100%;
  border-radius: 5px;
  padding: 15px 15px;
  margin: 0.8em 0;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  resize: vertical;
}

.form-new-task {
  margin: 22px 0;
}

/* TaskItem */
/* Estilos para tachar una tarea editada */
.task-complete {
  text-decoration: line-through;
}

.task-no-complete {
  text-decoration: none;
}

.container-card-task {
  width: 100%;
  border-radius: 20px;
  margin: 0 1em;
  padding: 32px 32px;
  box-shadow: 0px 0px 9px 0px rgba(128, 128, 128, 0.512);
}

.container-card-task:hover {
  box-shadow: 0px 0px 9px 0px rgb(128, 128, 128);
}

/* id para cambiar etilo del boton editar, si está completada o no la tarea */
#disable-img {
  filter: grayscale(1);
  cursor: not-allowed;
  animation: none;
}

#disable-img2 {
  filter: grayscale(1);
  cursor: not-allowed;
  animation: none;
}

/* Estilos para cambiar el fondo, si la tarea está completaa */
#bakcground-color-green {
  background-color: #c8ede6;
}

/* Estilos para cambiar el fondo, si la tarea NO está completaa */
/* #bakcground-color-red {
  background-color: #edc8cf;
} */

.container-edit {
  display: flex;
  flex-direction: column;
}

.container-card-task button {
  border: none;
  background: none;
}

.container-card-task img {
  width: 45px;
  cursor: pointer;
}

/* Animación para vibrar los iconos de las tareas al hacer hover */
.container-card-task img:hover {
  filter: brightness(0.8);
}

.container-card-task h3 {
  margin-bottom: 0.6em;
  font-size: 1.5rem;
}

.container-card-task p {
  text-align: justify;
  font-size: 0.9em;
}

.container-card-task div {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

#btn-update-task {
  background-color: #231f20;
  color: var(--colorWhite);
  padding: 15px 15px;
  border-radius: 5px;
  margin: 8px 0;
  width: 100%;
  cursor: pointer;
  border: none;
}

#btn-update-task:hover {
  background-color: #231f2084;
  border: none;
}

.temporizador {
  display: flex;
  flex-direction: column;
}

.temporizador>div {
  flex-direction: column;
  text-align: left;
  color: #ff9f1c;
}

.temporizador button {
  position: absolute;
  right: 18px;
}

.temporizador button i {
  font-size: 2rem;
  cursor: pointer;
}

#timer {
  /* background-color: #c8ede6; */
  padding: 1rem;
  color: 371219;
  position: relative;
  font-size: 1.3rem;
  border: 3px dotted #c8ede6;
}

/* modal para eliminar tarea */
/* Overlay de la pantalla al abrir el modal */
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* Para centrar del todo la ventana modal */
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  border-radius: 15px;
  z-index: 2;
  width: 85%;
}

.modal-container h1 {
  font-size: 1.4rem;
  text-align: center;
}

.modal-container p {
  text-align: center;
  margin-top: 1em;
}

.container-card-task:last-child {
  margin-bottom: 2em;
}

.buttons-modal {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

#color-red {
  background-color: #f76c6c;
}

/* estilos para modal */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

/* Modal register */
.modal-register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
}

.modal-register button {
  border: none;
  /* background: none; */
  margin-top: 2em;
}

/* Home view */
.task-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

/* Account View */
.profile-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 50%;
}

.icon-img {
  width: 25px;
  margin-right: 1em;
}

.profile-card {
  width: 90%;
  padding: 2em 0;
  margin: 2em auto 3em auto;
  padding: 2em 2em;
  border-radius: 20px;
  box-shadow: 0px 0px 9px 0px rgba(128, 128, 128, 0.719);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card>div p,
.profile-card>div img {
  font-size: 0.8rem;
  margin-top: 1em;
}

.profile-card>div:nth-last-child(2) {
  margin-bottom: 2em;
}

.profile-data {
  margin-top: 2em;
}

.profile-data div {
  display: flex;
  align-items: center;
}

.btn-edit-profile {
  display: flex;
  justify-content: center;
}

.btn-edit-profile p {
  color: white;
}

.center-btn {
  width: 100%;
}

/* Edit profile */
/* Loader */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container-avatar-loading {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-avatar {
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
}

#input-file {
  resize: none;
}

.margin-top {
  margin-top: 2em;
}

/* Footer */
footer {
  background-color: #c8ede6;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
}

footer ul {
  display: flex;
  gap: 1em;
  list-style: none;
  margin-bottom: 1em;
  font-size: 1.3rem;
}

footer ul li a {
  color: black;
}

footer small {
  font-size: 0.7rem;
}

/* RESPONSIVE */
/* ========================================================================= / */

/* / Móviles en horizontal o tablets en vertical */
/* ------------------------------------------------------------------------- / */
@media only screen and (min-width: 768px) {
  #up {
    font-size: 3rem;
    display: block;
  }

  /* Menu Hamburguesa */
  nav {
    font-size: 0.8rem;
  }

  .nav-bar {
    display: none;
  }

  .menu-link {
    background: #c8ede6;
  }

  .menu {
    margin-left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: initial;
  }

  /* Task Item */
  .container-card-task {
    width: 45%;
  }

  .task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    justify-content: center;
  }

  .container-card-task:last-child {
    margin-bottom: 0em;
  }

  /* Account */
  .profile-card {
    width: 65%;
  }

  /* Edit profile */
  #container-edit-profile {
    width: 65%;
  }
}

/* / Tablets en horizonal y escritorios normales */
/* ------------------------------------------------------------------------- / */
@media only screen and (min-width: 1024px) {
  #up {
    font-size: 3.1rem;
  }

  /* SinIn */
  div.container {
    width: 70%;
  }

  /* Modal */
  .modal-register {
    width: 70%;
  }

  /* Task Item */
  .container-card-task {
    width: 45%;
  }

  .task-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1rem;
    justify-content: center;
  }

  .container-card-task:last-child {
    margin-bottom: 0em;
  }

  /* Modal delete task */
  .modal-container {
    width: 50%;
  }
}

/* / Escritorios muy anchos */
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 1440px) {
  #up {
    font-size: 4rem;
  }
  /* NewTask */

  .container-new-task h1 {
    font-size: 2.5rem;
  }

  .container-new-task p {
    font-size: 1rem;
  }

  .input-field-new-task textarea,
  input,
  .edit-description-task {
    font-size: 1rem;
  }

  /* Task Item */
  .container-card-task {
    width: 30%;
  }

  .container-card-task:last-child {
    margin-bottom: 0em;
  }

  /* Modal delete task */
  .modal-container {
    width: 50%;
  }

  /* Account */
  .profile-card {
    width: 50%;
  }

  /* Edit profile */
  #container-edit-profile {
    width: 50%;
  }

  /* Footer */
  footer small {
    font-size: 0.9rem;
  }

  footer ul {
    font-size: 2rem;
  }
}