/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
  --primary-100:#FF5722;
  --primary-200:#ff8a50;
  --primary-300:#fff3b0;
  --accent-100:#4CAF50;
  --accent-200:#005100;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --bg-100:#F5F5F5;
  --bg-200:#ebebeb;
  --bg-300:#c2c2c2;
    
    

  --fontSize-sm: 18px;
  --fontFamily: "Poppins", sans-serif;
  --fontTitle: "Arial";
  --fontBody: "Helvetica";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize-sm);

}

/* Header */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 18px;
  background-color: var(--primary-200);
}

.img-logo {
  width: 40px;
  margin-right:4px;
}


/* All Sections */
.section-search, .section-results, .section-details {
  width: 95%;
  margin: auto;
}



/* Search form */
form i {
  margin-right: 0.8rem;
}
.btn {
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-100);

  color: white;
  border: none;
  border-radius: 8px;
  font-weight:500;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-200);

}

input, select {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  border-style: none;
  background-color: var(--bg-100);
  margin-right: 10px;
}
.form-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}



/* Results */

.section-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.recipe {
  width: 100%;
  background-color: var(--primary-200);
  border-radius: 15px;
  margin: 24px 12px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.recipe:hover {
  filter:brightness(1.1);
  animation: selectHover 0.8s ease 0s 1 normal forwards;
}
/* animation */
@keyframes selectHover {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
		transform: scale(1.1);
	}
}
.recipe img {
  width: 100%;  
  border-radius: 15px 15px 0 0;
}

.recipe div>h4 {
  padding: 1rem 1rem;
  color: white;
  font-weight: 400;
}


/* More info recipe */
/* estilos para modal */
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

/* Overlay de la pantalla al abrir el modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 50%;
  /* Para centrar del todo la ventana modal */
  transform: translateX(-50%);
  background-color: white;
  /* padding: 2em; */
  border-radius: 15px;
  z-index: 2;
  width: 100%;
  max-height: calc(100vh - 4em); /* Resta el tamaño del padding */  overflow-y: auto;
}

.modal-container p {
  text-align: center;
  margin-top: 1em;
}

.container-card-task:last-child {
  margin-bottom: 2em;
}

.buttons-modal {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.image-details{
  position: relative;
  width: 100%;

}

.image-details img {
  width: 100%; 
  height: 20vh;
  object-position: center center;
  object-fit: cover;
}

.title-details {
  position: absolute;
  bottom: 10px;
  width: 100%;
  background-color: hsla(0, 0%, 36%, 0.6);
  padding: 10px 10px;
  color: white;

}

.ingredients, .instructions {
  padding: 2rem 2rem;
}

.ingredients {
  width: 70%;
}

.instructions ol {
  counter-reset: step-counter;
  padding-left: 0;

}
.border {
  border-left: 1px solid #ff8a50 ;
  padding-left: 10px;
}
.instructions ol li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.number-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--accent-100);
  counter-increment: step-counter;
}

.number-list::before {
  content: counter(step-counter);
}

h3 {
  color: var(--primary-100);
  margin-bottom: 1.8rem;
}


.icons-ingredients {
  padding-right: 10px;

}
.ingredients ul li{
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
}
.icons-ingredients i {
  color: var(--accent-100);
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.ingredients-details {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: flex-end;
}

/* extra info */
.extra-info {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 35%; */
  padding-right: 2rem;



}

.header-extra {
  border-radius: 15px;
  background-color: var(--primary-300);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 1rem;

}



.list-info ol {
  list-style: none;
  font-size: 0.6rem;
  line-height: 1.2rem;


}

.list-info ol li i {
  margin-right: 0.8rem;
  font-size: 1rem;
  width: 1rem;

}

.ingredients-details h5 {
  margin-top: 2rem;
  text-align: center;
}





/* RESPONSIVE */
/* ========================================================================= / */

/* / Móviles en horizontal o tablets en vertical */
/* ------------------------------------------------------------------------- / */
@media only screen and (min-width: 768px) {
  .recipe {
    width: 45%;
  }

  .title-details {
    width: 80%;  
  }


}

/* / Tablets en horizonal y escritorios normales */
/* ------------------------------------------------------------------------- / */
@media only screen and (min-width: 1024px) {
  .recipe {
    width: 30%;
  }
  .title-details {
    width: 65%;  
  }
 
}

/* / Escritorios muy anchos */
/* ------------------------------------------------------------------------- */
@media only screen and (min-width: 1440px) {

  .recipe {
    width: 22%;
  }
  .title-details {
    width: 55%;  
  }
 
}